lora_model/
outputs/
Qwen

__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints

Pipfile.lock

docs/_build/

*.egg-info/
dist/
build/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

.mypy_cache/
.pyre/
.pytype/

.vscode/

test_result/
test_result.log

.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/extensions.json
.vscode/*.code-workspace

*.swp
*.swo
*.swn

*.sublime-workspace

.DS_Store

*.log
*.tmp
*.temp
